.footer {
  width: 100%;
  min-height: 7rem;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer p {
  font-family: "Recursive";
  font-weight: 400;
  font-size: 1.8rem;
}
