.footer {
  width: 100%;
  min-height: 7rem;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  gap: 1rem;
}

.endfooter {
  height: 22rem;
}

.footer-top {
  display: flex;
  align-items: center;
  font-family: "Recursive";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.footer-top h1 {
  margin-left: 0.5rem;
}

.footer > div {
  display: flex;
  gap: 0.5rem;
}

.footer p {
  font-family: "Recursive";
  font-weight: 400;
  font-size: 1.8rem;
}

.footer h2 {
  width: 22.2rem;
  height: 4.4rem;
  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  word-wrap: break-word;
}

.restart {
  width: 16.7rem;
  height: 3.2rem;
  border-radius: 5px;
  background-color: #fb6b6b;
}
